<div class="container-fluid">
  <form>
    <div class="form-group">
      <div *ngIf="this.resultado == 'planet'">
          <label>Nombre:</label>
          <input type="text" class="form-control"name= "nombre" id="nombre" [(ngModel)]="planet.name" > 
      </div>
      <div *ngIf="this.resultado == 'star'">
          <label>Nombre:</label>
          <input type="text" class="form-control" name= "nombre" id="nombre" [(ngModel)]="star.nombre" > 
      </div>


   
    </div>
    <div class="form-group">
        <div *ngIf="this.resultado == 'planet'" >
          <label>TAMAÑO </label>
            <input type="text"  class="form-control"name="size" [(ngModel)]="planet.size" > 
        </div>
         <div *ngIf="this.resultado == 'star'">
            <label>DENSIDAD:</label>
            <input type="text" class="form-control" name="densidad" [(ngModel)]="star.densidad" >  
         </div>

    </div>
    <div class="form-group" *ngIf="this.resultado == 'planet'">
      <label>Estrella </label>
       <select *ngFor="let planet of planetas" [(ngModel)]="planeta.star">
        <option value="{{planet.star.id}}"  >{{planet.star.nombre }}</option>  
      </select>
    </div>
   
    <button type="submit" class="btn btn-primary" (click)="save()" >Enviar</button>

  </form>


</div>


  
   